{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/x-icon" href="{% static 'css/logo.png' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>Library Tech</title>
    </head>

    <body>
        <nav class="navbar">
            <div class="navbar-left"> 
                <img src="{% static 'css/logo.png' %}" alt="Logo" class="logo">
            </div>
            <div class="navbar-center">
                <a href="http://127.0.0.1:8000/" class="site-name">LibraryTech</a>
            </div>
            <div class="navbar-right-django">
                <a href="http://127.0.0.1:8000/admin">Admin</a>
            </div>
            <div class="navbar-right">
                <a href="http://127.0.0.1:8000/desenvolvedores">Desenvolvedores</a>
            </div>
        </nav>
    <body>
        <br>
            <h1> Biblioteca </h1>
            <h2> Listar os livros cadastrados </h2>
        <br>

        {% if livros %}
            <h3>Livros Cadastrados</h3>
            {% for livro in livros %}
                <form action={% url 'core:listar' %} novalidate method="POST" enctype="multipart/form-data">
                    {% csrf_token %}        
                    Livro: {{ livro }}
                    <input type="hidden" name="livro_id" value={{ livro.pk }}>        
                    <input type="submit" value="Detalhes"/>              
                </form>

                <form action={% url 'core:deletar' %} novalidate method="POST" enctype="multipart/form-data">
                    {% csrf_token %}         
                    <input type="hidden" name="livro_id" value={{ livro.pk }}>        
                    <input type="submit" value="Deletar"/>              
                </form>
                
                <form action={% url 'core:atualizar' %} novalidate method="POST" enctype="multipart/form-data">
                    {% csrf_token %}  
                    <input type="hidden" name="livro_id" value={{ livro.pk }}>        
                    <input type="submit" value="atualizar"/>              
                </form>


            {% endfor %}
        {% else %}
            <h2> Nenhum livro cadastrado </h2>      
        {% endif %} 

        <center>
            <form action={% url 'core:index' %} novalidate method="GET">
                <input type="submit" value="Voltar"/>              
            </form>
        </center>
    </body>

</html>