body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ebddcb;
}

/* Navbar padrão */
.navbar {
    background-color: #033649;
    color: #033649;
    height: 60px;
}
.navbar .navbar-brand,
.navbar-nav .nav-link {
    color: white;
}
.navbar .navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #ebddcb;
}

/* CSS da tela inicial */
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.btn-custom {
    background-color: #036564;
    color: white;
    width: 100%;
    margin: 10px 0;
}
.btn-custom:hover {
    background-color: #024f49;
}

/* Parte da tela de detalhes */
.container {
    padding: 20px;
}
.list-group-item {
    margin-bottom: 10px;
}

/* Parte da tela de detalhes com card */
.card {
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.card-title {
    color: #036564;
}
.btn-primary {
    background-color: #036564;
    border-color: #036564;
}
.btn-primary:hover {
    background-color: #024f49;
    border-color: #024f49;
}
